body{
    height: 100%;
    background-image: url("../images/Background1.jpg");
    background-size: cover;
}

/* Top of page */

header{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 30px;
    align-items: center;
    background: teal;
}
header main{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 5px;
}
.primary-nav a{
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* Bio Section */

.bio{
    margin-left: 1.5%;
    margin-top: 1.5%;
    float: left;
    height: 650px;
    width: 31%;
    background: teal;
}
.bio p{
    text-indent: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#bio-image{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 5%;
}

/* Main content */

.subjects1{
    display: inline;
    float: right;
    width: 33%;
    margin-right: 1.5%;
    margin-top: 1.5%;
    background-color: gray;
}

.subjects2{
    display: inline;
    float: right;
    width: 33%;
    margin-top: 1.5%;
    background-color: gray;
}

/* .subjects2{
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    background-color: gray;
} */
.subject-tabs{
    display: flex;
    max-height: 25%;
    max-width: 100%;
    margin
    background: black;
}