body{
    height: 100%;
    background-image: url("../images/Background1.jpg");
    background-size: cover;
}

/* Top of page */

header{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 30px;
    align-items: center;
    background: rgba(0, 128, 128, 0.650);
}
header main{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 5px;
}
.primary-nav a{
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* Bio Section */

.bio{
    margin-left: 1.5%;
    margin-top: 1.5%;
    float: left;
    height: 100%;
    width: 22.5%;
    background: rgba(0, 128, 128, 0.650);
}
.bio p{
    text-indent: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#bio-image{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 5%;
}

/* Main content */

.subjects{
    display: flex;
    flex-wrap: wrap;
    width: 76%;
}
.subject-tabs p{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    color:white;
    font-size: 100%
}
.subject-tabs{
    display: block;
    width: 46%;
    margin: 2%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 2%;
    padding-bottom: 2.5%;
    background: black;
    border-radius: 1.5%;
}
.big-tab{
    float:right;
    display: block;
    width: 100%;
    margin: 2%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: black;
    border-radius: 1.5%;
}
.big-tab p{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    color:white;
    font-size: 100%
}
.big-tab img {
    width: 100%;
}
.subject-tabs img{
    width: 100%;
}